 /* Add or merge these styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background: black url('matte.jpg') no-repeat center center fixed; /* Assuming this image has the TV graphic in it */
    background-size: cover;
    color: #00FF00;
    scrollbar-color: transparent transparent; /*  Both thumb (handle) and track are transparent */
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    height: 100%; /* Ensures that the body takes full height */

    }

 #container {
    display: flex;
    flex-direction: row;
    scrollbar-color: transparent transparent; /*  Both thumb (handle) and track are transparent */
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    height: 100vh; /* Make sure the container fits the viewport height */
    overflow: hidden; /* Hide overflow */
    }

#svg-section {
    scrollbar-color: transparent transparent; /*  Both thumb (handle) and track are transparent */
    scrollbar-width: none;
    padding: 5;
    margin: 0;
    }

#list-section {
    flex-grow: 1;  /* Grow to fill available space */
    flex-shrink: 0;  /* Do not shrink */
    width: 15%;
    background-color: rgba(0, 0, 0, 0);  
    background: rgba(0, 0, 0, 0);  
    color: #00ff00;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Scroll vertically if needed */
    min-height: 100vh; /* Takes up at least the full viewport height */

    }

#svg-section {
    width: 70%;
    background-color: black;
    padding: 0;
    margin: 0;
    min-height: 100vh; /* Takes up at least the full viewport height */
    flex-grow: 1;  /* Grow to fill available space */
    flex-shrink: 0;  /* Do not shrink */
    overflow: hidden; /* Hide overflow, modify if you need internal scrolling */
}

#text-section {
    width: 15%;
    min-height: 100vh; /* Takes up at least the full viewport height */
    display: flex;
    flex-grow: 1;  /* Grow to fill available space */
    flex-shrink: 0;  /* Do not shrink */
    overflow-y: auto; /* Scroll vertically if needed */
    flex-direction: column;
    align-items: center;
    font-size: clamp(1vw, 1vmin, 1vw);
    background: rgba(0, 0, 0, 0);  
    background-color: rgba(0, 0, 0, 0);  
    scrollbar-color: transparent transparent; /*  Both thumb (handle) and track are transparent */
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    }

#server-list {
   
    padding: 0;
    margin: 0;
    }

#server-list li {
    
    cursor: pointer;
    padding: 5;
    margin: 0;
    }

#server-list li:hover {
    background-color: #003300;
    }

#graph-section {
    width: 70%;
    }

/* Existing styles */
#tooltip {
    position: fixed;
    pointer-events: none;
    display: none;
    background-color: #003300;
    color: #00ff00;
    border: 1px solid #06e42b;
    padding: 5px;
    font-size: clamp(1vw, 1vmin, 1vw);
    }

#content {
    width: 15%;
    min-height: 100vh; /* Takes up at least the full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1vw, 1vmin, 1vw);
    background: rgba(0, 0, 0, 0);  
    overflow-y: auto;
    scrollbar-color: transparent transparent; /*  Both thumb (handle) and track are transparent */
    scrollbar-width: none;
    padding: 0;
    margin: 0;
}


h1 {
    text-align: center;
    font-size: clamp(1vw, 1vmin, 1vw);
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

li {
    margin: 0.1em 0;
    border: 1px dashed #00FF00;
    padding: 10px;
    cursor: pointer;
    word-wrap: break-word;
    padding: 5;
    margin: 0;
}

a {
    color: #00FF00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.badge {
    width: 3vw; /* Adjust size as needed */
    filter: grayscale(1); /* Desaturate the badge */
    opacity: 0.8; /* Make it slightly transparent */
    position: relative; /* To position the tooltip */
    z-index: 1000;  /* ensure it's above other elements */
    
    }

.badge:hover {
    filter: grayscale(0); /* Fully colored on hover */
    opacity: 1; /* Fully opaque on hover */
    }

.badge::before {
    content: attr(data-tooltip); /* Use data attribute for tooltip text */
    position: absolute;
    bottom: 100%; /* Place it above the badge */
    left: 50%;
    transform: translateX(-50%) translateY(10px);  /* combining the two transforms */
    background-color: rgba(0, 255, 0, 0.9); /* Green background with slight transparency */
    padding: 0.2em 0.5em;
    border-radius: 5px;
    font-size: 0.8em;
    white-space: nowrap; /* Prevent the text from wrapping */
    }

.badge:hover::before {
    opacity: 1;
    }

    /* HUD styles */
.hud {
    position: fixed;
    bottom: 1vw; /* Distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1em; /* Space between badges */
    padding: 0;
    margin: 0;
    }

    .content::-webkit-scrollbar {
        width: 0px; /* Makes the scrollbar effectively invisible */
    }


    /* Transparent track */
    .content::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Transparent handle */
    .content::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0); /* Fully transparent */
    }

    /* Transparent handle on hover */
    .content::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0); /* Fully transparent on hover */
    }

    .text-section::-webkit-scrollbar {
        width: 0px; /* Makes the scrollbar effectively invisible */
    }


    /* Transparent track */
    .text-section::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Transparent handle */
    .text-section::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0); /* Fully transparent */
    }

    /* Transparent handle on hover */
    .text-section::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0); /* Fully transparent on hover */
    }

    .container::-webkit-scrollbar {
        width: 0px; /* Makes the scrollbar effectively invisible */
    }


    /* Transparent track */
    .container::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Transparent handle */
    .container::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0); /* Fully transparent */
    }

    /* Transparent handle on hover */
    .container::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0); /* Fully transparent on hover */
    }

